<html ng-app="firstapp">
<head>
  <meta charset="utf-8">
  <script src="angular.min.js"></script>
  <script src="app.js"></script>
  <link rel="stylesheet" href="bootstrap.min.css">
  <style>
    .message { font-size: 1.3em; font-weight: bold; }
  </style>
</head>
<body ng-controller="mycontroller">
  <div class="container">
  <h1>Lunch Checker</h1>

      <div class="form-group">
          <input id="lunch-menu" type="text" ng-model="menu"
          placeholder="list comma separated dishes you usually have for lunch"
          class="form-control" required="Please enter data first">

      </div>
      <div>
        {{message}}
      </div>
      <div class="form-group">
          <button class="btn btn-default" ng-click="checkcount()">Check If Too Much</button>
      </div>
      <div class="form-group message">
        <!-- Your message can go here. -->
      </div>
</div>
</body>
</html>
